/* Mobile first styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.accordion {
  max-width: 320px;
  margin: 20px auto 0;
}

.accordion-header {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-header.active {
  background-color: #eaeaea;
}

.accordion-header .arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 0.8;
  transition: transform 0.3s ease;
}

.accordion-header.active .arrow {
  transform: translateY(-50%) rotate(180deg);
}

.accordion-content {
  display: none;
  padding: 10px 20px;
  background-color: #fff;
}

.accordion-content.active {
  display: block;
}

/* Desktop styles */
@media screen and (min-width: 600px) {
  .accordion {
    max-width: 600px;
    margin: 50px auto 0;
  }

  .accordion-header {
    padding: 20px 40px;
    font-size: 24px;
  }

  .accordion-header .arrow {
    font-size: 30px;
  }

  .accordion-content {
    padding: 20px 40px;
  }
}
